<script src="../../../asset/ckeditor/ckeditor.js"></script>
<h4>Thêm bài viết</h4>
<div style="display: flex;justify-content: center;align-items: center;">
    <div class="card shadow mb-4 col-xs-12 col-sm-12 col-md-11 col-lg-9">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form action="/post/add" method="POST">
                        <div class="form-group">
                            <input type="hidden" name="csrf" value="{{token}}">
                            {{#if UserCan.Thembaiviet}}
                                <input type="submit" value="Lưu" class="btn btn-success btn-sm">
                            {{/if}}
                            <a href="/post" class="btn btn-danger btn-sm">Quay lại</a>
                        </div>
                        <div class="form-group">
                            <label class="text-success" for="title">Tiêu đề:</label>
                            <input type="text" class="form-control form-control-sm {{ validateErrClass dataErr 'title' 'is-invalid' }}" 
                                    id="title" name="title" placeholder="Tiêu đề bài viết" value="{{ post.title }}">
                            <div class="invalid-feedback">{{ validateErr dataErr 'title' }}</div>
                        </div>
                        <div class="form-group">
                            <label class="text-success" for="description">Mô tả:</label>
                            <input type="text" class="form-control form-control-sm {{ validateErrClass dataErr 'description' 'is-invalid' }}" 
                                    id="description" name="description" placeholder="Mô tả bài viết" value="{{ post.description }}">
                            <div class="invalid-feedback">{{ validateErr dataErr 'description' }}</div>
                        </div>
                        <div class="form-group">
                            <label class="text-success" for="contentPost">Nội dung:</label><br>
                            <span class="text-danger" style="font-size: 80%;">{{ validateErr dataErr 'content' }}</span>
                            <textarea class="form-control" id="contentPost" name="content">{{{ post.content }}}</textarea>
                            <script>
                                CKEDITOR.replace('contentPost');
                            </script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>