<script src="../../../asset/ckeditor/ckeditor.js"></script>
</style>
<h4>Sửa bài viết</h4>
<div style="display: flex;justify-content: center;align-items: center;">
    <div class="card shadow mb-4 col-xs-12 col-sm-12 col-md-11 col-lg-9">
        <div class="card-body">
            <div class="row">
                <form class="col-md-12" action="/post/edit/{{post._id}}" method="POST">
                    <div class="form-group">
                        {{#if UserCan.Suabaiviet}}
                        <input type="submit" value="Cập nhập" class="btn btn-success btn-sm">
                        {{/if}}
                        <a href="/post" class="btn btn-danger btn-sm">Quay lại</a>
                        <input type="hidden" name="csrf" value="{{token}}">
                    </div>
                    <div class="form-group">
                        <label class="text-success" for="title">Tiêu đề bài viết</label>
                        <input type="text" class="form-control form-control-sm" id="title" name="title"
                            placeholder="Tiêu đề bài viết" value="{{ post.title }}">
                    </div>
                    <div class="form-group">
                        <label class="text-success" for="">Nội dung bài viết</label>
                        <input type="text" class="form-control form-control-sm" id="description" name="description"
                            placeholder="Mô tả bài viết" value="{{ post.description }}">
                    </div>
                    <div class="form-group">
                        <label class="text-success" for="contentPost">Nội dung bài viết</label>
                        <textarea id="contentPost" class="form-control form-control-sm" name="contentPost">{{ post.content }}</textarea>
                        <script>
                            CKEDITOR.replace('contentPost');
                        </script>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>