
<h4>Danh sách bài viết</h4>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12" style="padding-bottom: 10px;">
                {{#if UserCan.Thembaiviet}}
                    <a href="/post/add" class="btn btn-success btn-sm">Thêm</a>
                {{/if }}
                {{#if Xoanhieubaiviet}}
                    <button class="btn btn-danger btn-sm" id="delUser" style="display: none;" onclick="handleDeleteMul();">Xóa</button>
                {{/if }}
            </div>
        </div>
        {{#if message}}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success col-md-12">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{message}}
                </div>
            </div>
        </div>
        {{/if}}
        <div class="row">
            <div class="col-sm-12 overflow-auto">
                <table class="table table-bordered table-sm table-hover" style="font-size: 13px; min-width: 600px;">
                    <thead>
                        <tr role="row" style="text-align: center;">
                            <th style="width: 35px;">
                                <input type="checkbox" id="selectAll">
                            </th>
                            <th style="width: 30px;">STT</th>
                            <th>Tiêu đề</th>
                            <th>Mô tả</th>
                            <th>Tác giả</th>
                            <th style="width: 35px;">Xem</th>
                            <th style="width: 70px;">Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if existData}}
                        <form action="/post/delete-all" method="POST" id="deleteAllPost">
                            <input type="hidden" name="csrf" value="{{ token }}">
                            {{#each listpost}}
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" id='postid' name="postid" value="{{ this._id }}">
                                </td>
                                <td class="text-center">
                                    {{sequenNumber ../currentPage @index }}
                                </td>
                                <td>{{this.title}}</td>
                                <td>{{this.description}}</td>
                                <td class="text-center">{{ this.author.name }}</td>
                                <td class="text-center">
                                    <a href="#" class="text-info text-decoration-none" onclick="handleViewPost('{{this._id}}');"><i class="fas fa-eye"></i></a>
                                </td>
                                <td class="action text-center">
                                    {{#if ../UserCan.Suabaiviet}}
                                        <a class="text-decoration-none" href="/post/edit/{{this._id}}">Sửa</a>
                                    {{/if}}
                                    {{#if ../UserCan.Xoabaiviet}}
                                        <a href="#" class="text-danger text-decoration-none" onclick="handleDelete('{{this._id}}')">Xóa</a>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </form>
                        {{else}}
                        <tr>
                            <td colspan="7">chưa có thành viên <a href="/post/add">thêm bài viết</a></td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="font-size: 13px;">
            {{{ pagination 'post' pages currentPage }}}
        </div>
    </div>
</div>
<!-- Modal For One User -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa bài viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xác nhận xóa bài viết ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <form action="post/delete" method="POST">
                    <input type="hidden" name="csrf" value="{{ token }}">
                    <input type="hidden" name="delPostId" id="delPostId" value="">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal For Mul User -->
<div class="modal fade" id="myModalMulUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa bài viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xác nhận xóa các bài viết đã chọn ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="submitForm();">Xóa</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal view post -->
<div class="modal fade" id="viewPostModal" tabindex="-1" role="dialog" aria-labelledby="viewPostModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div id="collapseContent" class="modal-content collapse">
      <div class="modal-header" style="position: sticky; top: 0; background: white; z-index: 100; border: 27px;">
        <h5 class="modal-title text-success" id="postTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 75vh; overflow-y: scroll;">
        <div id="postDescription"></div>
        <hr>
        <div id="postContent"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<script>
    function handleDelete(id) {
        $('#delPostId').val(id);
        $('#myModal').modal('toggle');
    }
    $('#myModal').on('hidden.bs.modal', function () {
        $('#postid').val('');
    })
    var checkbox = $('input[type=checkbox]');

    checkbox.each(function (item, index) {
        $(index).on('click', () => {
            if ($(this).attr('id') == 'selectAll') checkbox.prop('checked', $(this).is(':checked'));
            var countChecked = checkbox.filter('[id="postid"]').filter(':checked').length;
            var countUnChecked = checkbox.filter('[id="postid"]').length - countChecked;
            checkbox.filter('[id="selectAll"]').prop('checked', countUnChecked != 0 ? false : true);
            $('#delUser').css('display', countChecked > 0 ? 'inline-block' : 'none');
        })
    })
    function handleDeleteMul() {
        $('#myModalMulUser').modal('toggle');
    }
    function submitForm() {
        $('form#deleteAllPost').submit();
    }
    function handleViewPost(id){
        const thisModal = $('#viewPostModal');
        const url = `/post/ajaxPost/${id}`;
        $.ajax({
            url : url,
            method : 'GET',
        }).then((data) => {
            const post = data.post;
            $('#postTitle').text(post.title);
            $('#postDescription').text(post.description);
            $('#postContent').html(post.content).after(function(){
                thisModal.modal('toggle');
                setTimeout(function(){
                    $('#collapseContent').collapse('show')
                }, 500)
            });
        })
    }
    $('#viewPostModal').on('hidden.bs.modal', function () {
        $('#postTitle').text('');
        $('#postDescription').text('');
        $('#postContent').html('');
    })
</script>